<launch>
  <include file="$(find ur5e_rg2_moveit_config)/launch/move_group.launch" />
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
  <node pkg="ur5e_compliant_controller" type="pose_arm_controller.py" name="pose_arm_controller" respawn="true"/>
  <node pkg="ur5e_rl" type="ee_pose_pub.py" name="ee_pose" respawn="true"/>
</launch>
